* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(63, 0, 37)
}

a {
    text-decoration: none;
}
.contenedorProductos{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 160px auto 60px;
    gap: 5px;
    grid-template-areas:    "logo"
                            "nav"
                            "productos"
                            "footer";
}
.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.li{
    display: flex;
    justify-content: center;
}

.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    background-color: rgb(250, 198, 222);
}
.tarjeta {
    width: 200px;
    height: 345px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 10px 5px lightgrey;
}

.tarjeta__imagen {
    width: 195px;
    align-items: center;
}

.tarjeta__descripcion {
    position: relative;
    bottom: 2px;
    font-size: 14pt;
}

.tarjeta__precio {
    position: relative;
    top: 5px;
}

.boton {
    position: relative;
    bottom: 15px;
    left: 140px;
}
.contenedorTarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 198, 222);
}
.footer__boton{
    background-color: rgb(206, 67, 113);
    border-radius: 3px;
    color: rgb(31, 0, 19);
    border: 1px solid rgb(31, 0, 19);
}

@media (min-width:1200px) {
    .contenedorProductos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 40px auto 60px;
        gap: 15px;
        grid-template-areas:    "logo"
                                "nav"
                                "form"
                                "footer";
    }
    .logo {
        margin-top: 15px;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;

    }
    .li{
        display: inline;
        padding: 10px;
    }
    .contenedorTarjetas {
        justify-content: space-between;
    }
}