* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(63, 0, 37)
}

a {
    text-decoration: none;
}

.contenedorProductoX{
    display: grid;
    grid-template-rows: 100px 40px 500px 60px;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    grid-template-areas:    "logo logo"
                            "nav nav"
                            "producto producto"
                            "footer footer";
}

.logo{
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.li{
    display: flex;
    justify-content: center;
}

.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    background-color: rgb(250, 198, 222);
}
.productox{
    grid-area: producto;
    width: 90%;
    height: 500px;
    padding: 15px;
}
.productox__imagen{
    display: flex;
    align-items: center;
    height: 380px;

}
.productox__descripcion{
    font-weight: 700;
    margin-top: 10px;
}
.productox__precio {
    margin-top: 10px;
}
.productox__cantidad{
    position: relative;
    bottom: 20px;
    width: 120px;
    left: 160px;
}
.productox__boton{
    background-color: rgb(206, 67, 113);
    border-radius: 3px;
    color: rgb(31, 0, 19);
    border: 1px solid rgb(31, 0, 19);
    width: 200px;
    margin-top: 15px;
}
.productoxBoton{
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 198, 222);
}
.footer__boton{
    background-color: rgb(206, 67, 113);
    border-radius: 3px;
    color: rgb(31, 0, 19);
    border: 1px solid rgb(31, 0, 19);
}

@media (min-width:1200px){
    .contenedorProductoX{
        display: grid;
        grid-template-rows: 100px 40px auto 60px;
        grid-template-columns: 2fr 1fr;
        gap: 15px;
        grid-template-areas:    "logo logo logo"
                                "nav nav nav"
                                "producto producto producto"
                                "footer footer footer";
    }
    .logo {
        margin-top: 15px;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;

    }
    .li{
        display: inline;
        padding: 10px;
    }
    .productox{
        grid-area: producto;
        width: 90%;
        height: 720px;
        padding: 50px;
    }
    .productox__imagen{
        display: flex;
        align-items: center;
        height: 700px;
    } 
    .productox__descripcion{
        position: relative;
        left: 550px;
        bottom: 700px;
        font-weight: 900;
        font-size: 22pt;
    }
    .productox__precio {
        position: relative;
        left: 550px;
        bottom: 690px;
        font-size: 18pt;
    }
    .productox__cantidad{
        position: relative;
        left: 550px;
        bottom: 650px;
        width: 300px;
    }
    .productox__boton{
        background-color: rgb(206, 67, 113);
        border-radius: 3px;
        color: rgb(31, 0, 19);
        border: 1px solid rgb(31, 0, 19);
        width: 300px;
        margin-top: 15px;
    }
    .productoxBoton{
        position: relative;
        left: 550px;
        bottom: 650px;
        width: 300px;
    }
}