* {
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
    color: rgb(63, 0, 37)
}

a {
    text-decoration: none;
}

.contenedorIndex{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 160px 550px auto 60px;
    gap: 5px;
    grid-template-areas:    "logo"
                            "nav"
                            "imagen1"
                            "productos"
                            "footer";
}
.imagenPrincipal{
    width: 100%;
    background-image: url(../multimedia/imagenes/fondo\ chucherys.jpg);
    background-size: cover;
    background-position: center;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: aparecer;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-name: aparecer;
}
.li{
    display: flex;
    justify-content: center;
}

.nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    background-color: rgb(250, 198, 222);
}

.footer {
    grid-area: footer;
    background-color: rgb(250, 198, 222);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__boton{
    background-color: rgb(206, 67, 113);
    border-radius: 3px;
    color: rgb(31, 0, 19);
    border: 1px solid rgb(31, 0, 19);
}

.imagen1__principal{
    grid-area: imagen1;
}

.titulo--nuevos {
    width: 100%;
    font-size: 12pt;
    display: flex;
    justify-content: center;

}
.tarjeta {
    width: 200px;
    height: 345px;
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 5px 5px 10px 5px lightgrey;
}

.tarjeta__imagen {
    width: 195px;
    align-items: center;
}

.tarjeta__descripcion {
    position: relative;
    bottom: 2px;
    font-size: 14pt;
}

.tarjeta__precio {
    position: relative;
    top: 5px;
}

.boton {
    position: relative;
    bottom: 15px;
    left: 140px;
}
.contenedorTarjetas {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@media (min-width:1200px) {
    .contenedorIndex {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 100px 40px 550px auto 60px;
        gap: 15px;
        grid-template-areas:    "logo"
                                "nav"
                                "imagen1"
                                "productos"
                                "footer";
    }
    .logo {
        margin-top: 15px;
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;

    }
    .li{
        display: inline;
        padding: 10px;
    }

    .titulo--nuevos {
        font-size: 20pt;
    }
    
    .contenedorTarjetas {
        justify-content: space-between;
    }
    
}

@keyframes aparecer {
    0%{
        opacity: 0;
    };
    100%{
        opacity: 1;
    };
}